_build/
tmp
gen/dep_labels.dot
gen/dependencies.png
gen/dependencies2.png
*.pyc
*.out
*.so
gen/dep.dot
gen/dep2.dot
*debug/
build/
venv/
.idea/
.history/

*.DS_Store
*.pt
*.pth
*.tf
*.gz
*.java
*.pdf
*.pkl
source/ch11-llm/security/*
.git.bk/*
.git.bk
*.tgz
*.jpg
*.mat
*/checkpoints/*

source/ch9-gen-audio/tts/*
source/ch9-gen-audio/tiny-audio-diffusion/*
source/ch9-gen-audio/stable-audio-tools/*
source/ch9-gen-audio/*
source/ch8-rl/*
source/ch7-diffusion/*

source/ch6-llm/*
source/ch5-transformer/*
source/ch4-gan/*
source/ch11-mm/*
source/ch10-gen-video/*
source/ch1-rnn/*
source/ch12-train/*
source/ch2-cnn/*
